language: php
php:
  - 5.5
  - 5.4
  - 5.3
before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --prefer-source
  - echo 'extension = "memcache.so"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
script:
  - phpunit --configuration tests/phpunit.xml tests